
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Class
		<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="admin-dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="breadcrumb-item active">Class</li>
	</ol>
</section>


<!-- Main content -->


<section class="content">

	<!-- Step wizard -->
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Add new Class </h3>
			<h6 class="box-subtitle">You can add and view classes</h6>

			<div class="box-tools pull-right"> 
				<!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
			</div>
		</div>




		<div class="row">
			<div class="col-md-12">
				<form name="gymClass"  class="form-horizontal form-element col-12"  ng-submit="gymClassSubmit()" >


					<div class="form-group  	 has-feedback " ng-class="{ 'has-success' : gymClass.name.$valid, 'has-error' : gymClass.name.$invalid && !gymClass.name.$pristine }">

						<label  > Name :<span class="danger">*</span></label>

						<div class="col-sm-12">

							<input type="text" name="name" class="form-control"  placeholder="Enter  name"  ng-model="class.name"  ng-minlength="1" ng-maxlength="2" ng-pattern="/^[a-zA-Z\s]*$/" 
							required>

							<span class="glyphicon form-control-feedback"  aria-hidden="true"
							ng-class="{ 'glyphicon-ok' : gymClass.name.$valid, 'glyphicon-remove' : gymClass.name.$invalid && !gymClass.name.$pristine }" ></span>
							<span span ng-show="gymClass.name.$invalid && gymClass.name.$error.required" class="help-block">  name is required.</span>            
							<span ng-show="gymClass.name.$invalid && gymClass.name.$error.minlength" class="help-block">  name is too short.</span>
							<span ng-show="gymClass.name.$invalid && gymClass.name.$error.maxlength" class="help-block">  name is too long.</span>
						</div>
					</div>

					




					<div class="form-group  	 has-feedback " ng-class="{ 'has-success' : gymClass.weigh.$valid, 'has-error' : gymClass.weigh.$invalid && !gymClass.weigh.$pristine }">

						<label  > cost per month :<span class="danger">*</span></label>

						<div class="col-sm-12">

							<input type="number" name="weigh" class="form-control"  placeholder="Enter  cost per month"  ng-model="class.weigh"   ng-min="50" ng-max="10000"  required>

							<span class="glyphicon form-control-feedback"  aria-hidden="true"
							ng-class="{ 'glyphicon-ok' : gymClass.weigh.$valid, 'glyphicon-remove' : gymClass.weigh.$invalid && !gymClass.weigh.$pristine }" ></span>
							<span span ng-show="gymClass.weigh.$invalid && gymClass.weigh.$error.required" class="help-block">  cost per month is required.</span>            
							<span ng-show="gymClass.weigh.$invalid && gymClass.weigh.$error.minlength" class="help-block">  cost per month is too short.</span>
							<span ng-show="gymClass.weigh.$invalid && gymClass.weigh.$error.maxlength" class="help-block">  cost per month is too long.</span>
						</div>
					</div>
					
					
					

					<div class="form-group  	 has-feedback " ng-class="{ 'has-success' : gymClass.remark.$valid, 'has-error' : gymClass.remark.$invalid && !gymClass.remark.$pristine }">

						<label  >Remark:<span class="danger">*</span></label>


						<div class="col-sm-12">
							<textarea name="remark" class="form-control" id="inputAddress" placeholder="Enter your remark" ng-model="class.remark"  ng-minlength="3"     ></textarea>

							<span class="glyphicon form-control-feedback"  aria-hidden="true"
							ng-class="{ 'glyphicon-ok' : gymClass.remark.$valid, 'glyphicon-remove' : gymClass.remark.$invalid && !gymClass.remark.$pristine }" ></span> 
							<span ng-show="gymClass.remark.$invalid && gymClass.remark.$error.minlength" class="help-block">remark is too short.</span> 

						</div>
					</div>
					





					<div class="form-group row">
						<div class="ml-auto col-sm-10">
							<button type="submit" class="btn btn-success"   ng-disabled="gymClass.$invalid || gymClass.$pristine ">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			


			<style type="text/css">
			code {
				margin: 10px;
				display:block;
				overflow:auto;
			}
			.grid-container {
				height: 340px; overflow-y: auto;
			}
			.grid-container table {
				margin: 0;
			}
			.sg-dummy-row  {
				display: none;
			}
		</style>

		<div ng-form="gridForm">
			<h3>Added  ></h3>
			<div simple-grid="gridConfig" class="grid-container"></div>

			<div style="text-align:center">
				Page: {{ gridConfig.options.pageNum + 1 }}
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-primary" ng-click="movePage(-1)">
						&lt; Prev
					</button>
					<button type="button" class="btn btn-sm btn-primary" ng-click="movePage(1)">
						&gt; Next
					</button>
				</div>

			</div>

		</div>

	</div>


</div>      


<!-- /.row -->

</section>
<!-- /.content -->
